name: inkloodle-dev

volumes:
  db_data:
  moodle_data:

services:
  webserver:
    build:
      context: .
      dockerfile: dev.Dockerfile
    ports:
      - 8000:80
    volumes:
      - ./assets/web/apache2_faildumps.conf:/etc/apache2/conf-enabled/apache2_faildumps.conf:ro
      - ./assets/web/apache2_mailpit.conf:/etc/apache2/conf-enabled/apache2_mailpit.conf:ro
      - ./moodle/theme/edmo:/var/www/html/theme/edmo
      - ./moodle/blocks:/var/www/html/blocks
      - moodle_data:/var/www/moodledata
    depends_on:
      - db
      - mailpit
    environment:
      MOODLE_DOCKER_BROWSER: firefox
      MOODLE_DOCKER_DBCOLLATION: utf8mb4_bin
      MOODLE_DOCKER_DBNAME: moodle
      MOODLE_DOCKER_DBPASS: m@0dl3ing
      MOODLE_DOCKER_DBTYPE: mariadb
      MOODLE_DOCKER_DBUSER: moodle
      MOODLE_DOCKER_WEB_HOST: localhost
      MOODLE_DOCKER_WEB_PORT: 127.0.0.1:8000
  db:
    image: mariadb:10.7
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_bin
      - --innodb_file_per_table=On
      - --wait-timeout=28800
      - --skip-log-bin
    environment:
      MYSQL_DATABASE: moodle
      MYSQL_PASSWORD: m@0dl3ing
      MYSQL_ROOT_PASSWORD: m@0dl3ing
      MYSQL_USER: moodle
    volumes:
      - db_data:/var/lib/mysql
  adminer:
    image: adminer
    restart: always
    ports:
      - 8001:8080
  mailpit:
    environment:
      MP_WEBROOT: /_/mail/
    image: axllent/mailpit:v1.10
  # exttests:
  #   image: moodlehq/moodle-exttests
  #   volumes:
  #     - assets/exttests/apache2_ports.conf:/etc/apache2/ports.conf:ro
  #     - assets/exttests/apache2.conf:/etc/apache2/sites-enabled/000-default.conf:ro
  # selenium:
  #   image: selenium/standalone-firefox:3
  #   volumes:
  #   - moodle:/var/www/html:ro
